In [1]:
string="INNOGEEKS"

In [2]:
string[2:5]

'NOG'

NameError: name 'stringz' is not defined

In [4]:
string

'INNOGEEKS'

# New File

Python

PYTHON

In [ ]:
HELLO

New

In [5]:
String="Hello World"

In [6]:
x="ARUN"

In [7]:
y="SHETTY"

In [8]:
z=x[0]+y[::]

In [9]:
print(z)

ASHETTY

In [10]:
z=x[0]+" "+y[::]

In [11]:
z

'A SHETTY'

In [12]:
print(z)

A SHETTY

In [1]:
a=input("Enter your name:")
print("My name is " +a)

Enter your name:Nancy
My name is Nancy

In [2]:
b=int(input("Enter your age:"))
print(a+" is "+ b +" years old")

Enter your age:17

TypeError: can only concatenate str (not "int") to str

In [3]:
print(aprint(a+" is "+ str(b) +" years old")

SyntaxError: incomplete input (2600206474.py, line 1)

In [4]:
print(a+" is "+ str(b) +" years old")

Nancy  is 17 years old

In [5]:
print(f"{a}is {b} years old")   '''f is formatting here '''

Nancy is 17 years old

In [6]:
print(a+" is "+ b +" years old")

TypeError: can only concatenate str (not "int") to str

In [7]:
'''{.format}'''

'{.format}'

In [8]:
first,last=a.split()
print(f"{first[0]+"."+last} is {b} years old)

SyntaxError: unterminated string literal (detected at line 2) (2389648660.py, line 2)

In [9]:
first,last=a.split()
print(f"{first[0]+"."+last} is {b} years old")

SyntaxError: f-string: expecting '}' (26734206.py, line 2)

In [10]:
first,last=a.split()
print(f"{first[0]+"."+last} is {b} years old")

SyntaxError: f-string: expecting '}' (26734206.py, line 2)

In [11]:
a=Nancy Gupta

SyntaxError: invalid syntax (963272418.py, line 1)

In [24]:
email="nancygupta@gmail.com"

In [14]:
first,last=a.split()
print(f"{first[0]+'.'+last} is {b} years old")

N.Gupta is 17 years old

In [16]:
name=input("Enter your name:")
print(name.title())
print(name.strip())
print(name.lower())
print(name.upper())
print(name.center(0))

Enter your name:NaNCy GuPTa
Nancy Gupta
NaNCy GuPTa
nancy gupta
NANCY GUPTA
NaNCy GuPTa

In [17]:
print(name.center(1))

NaNCy GuPTa

In [18]:
new="              NAncy Gupta"

In [22]:
print(type(name))

<class 'str'>

In [25]:
email="nancygupta@gmail.com"
email.split("@")

['nancygupta', 'gmail.com']

In [26]:
email="nancygupta@gmail.com"
first,mail=email.split("@")
print(first,mail)

nancygupta gmail.com

In [27]:
a=int(input("Enter Number a: "))
b=int(input("Enter Number b: "))
if a>b:
    print("A is greater")
else:
    print("B is greater")

Enter Number a: 5
Enter Number b: 4
A is greater

In [32]:
'''Prime Number Code CODE 1'''
a=int(input("Enter the number you want to check:"))
for i in range(2,a):
    if a%i==0:
        print("Not a Prime Number")
        break
    else:
        print("Prime number")
        break

Enter the number you want to check:36
Not a Prime Number

In [39]:
'''Prime Number CODE 2'''
a=int(input("Enter:"))
c=0
for i in range(2,int(a/2)):
    if a%i==0:
        c+=1
if c>1:
    print("Not Prime")
    #break
else:
    print("Prime")
        #break

Enter:43
Prime

In [41]:
a=int(input("Enter:"))
if a%2==0:
    print("Even Number")
else:
    print("Odd Number")

    ''' HOMEWORK 
1  WAP to create a loop from 1 to 100 and print all the prime numbers between them
2  WAP to compare three numbers and print which is greater
3  WAP to create a grading system on the basis of :
A:90 to 100
B:70 to 90
C:60 to 70
'''

Enter:23
Odd Number

In [1]:
for i in range(2,101): 
    for j in range(2,101):
        if i%j == 0:
            break
    if i == j:
        print(i,end=",")

2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,

In [6]:
a=int(input("Enter a:"))
b=int(input("Enter b:"))
c=int(input("Enter c:"))
if a>b:
    if a>c:
        print("a is greatest")
elif b>a:
    if b>c:
        print("b is greatest")
else:
    print("c is greatest")

Enter a:67
Enter b:99
Enter c:54
b is greatest

In [7]:
marks=int(input("Enter your marks"))
if marks<=100 and marks>=90:
    print("A")
elif marks<=90 and marks>=70:
    print("B")
elif marks<=70 and marks>=60:
    print("C")
else:
    print("D")

Enter your marks86
B

In [23]:
l1=[1,2,3,"N",1.3]
for i in l1:
    print(i,end=" ")
new="Nancy"
print(new[0])
l=[1,2,3,4]
l.append(5)
l

1 2 3 N 1.3 N

[1, 2, 3, 4, 5]

In [20]:
l=["N","A","N","C","Y"]
new=l[::2]
print(new)
for i in new:
    print(i,end=" ")

['N', 'N', 'Y']
N N Y

In [36]:
l1=[5,1,2,3,2,4]
l1.sort(reverse=True)
l1

[5, 4, 3, 2, 2, 1]

In [35]:
l1=[5,1,2,3,2,4]
l2=l1.sort()
l1

[1, 2, 2, 3, 4, 5]

In [47]:
l1=[1,2,3]
l2=[3,4,5]
print(l1>l2)
print(l1==l2)
print(l1<l2)

False
False
True

In [53]:
t=(1,2,3)
t[1]

2

In [61]:
t1=(1,2,3)
t2=(4,5,6)
t1+=t2
print(t1)
print("Minimun :",min(t1))
print("Maximun :",max(t1))

(1, 2, 3, 4, 5, 6)
Minimun : 1
Maximun : 6

In [50]:
for i in t1:
    print(i)

1
2
3

In [75]:
'''
d1={1:"Nancy",2:"Gupta"}
print(d1.values())
print(d1.keys())
for i in d1:
    print(i)
    print(d1[i])
'''
    
    
d2={"Name":"Shraddha","LibID":"2234"}
a=d2.get("LibID")
print(a)
d2["Address"]="KIET"
print(d2)

2234
{'Name': 'Shraddha', 'LibID': '2234', 'Address': 'KIET'}

In [76]:
l1=[{1:"Nancy"},{2:"Gupta"}]
print(l1[1])

{2: 'Gupta'}

In [2]:
def greet(name):
    print("Hello,"+name+"!")
greet("Nancy")

Hello,Nancy!

In [5]:
def add(a,b):
    sum=a+b
    return sum
print(add(2,4))

6

In [8]:
def exponent(a,b=2):
    c=a**b
    return c
exponent(5,4)

625

In [13]:
def person(name,age):
    return name,age
person("Nancy",18)

('Nancy', 18)

In [25]:
c=15
def update():
    global c
    c=10
print("Before modifying:",c)   
update()
print("After modifying:",c)

Before modifying: 15
After modifying: 10

In [22]:
list1=[1,2]
print(type(list1))

<class 'list'>

In [26]:
def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n*factorial(n-1)

In [30]:
factorial(5)

120

In [37]:
expo=lambda x,y:x/y
print(expo(15,3))

5.0

In [43]:
#LAMBDA FUNCTIONS
l1=(1,2,3)
new_l1=tuple(map(lambda x:x**2,l1))
print(new_l1)

(1, 4, 9)

In [48]:
#FUNCTION TO PRINT THE LENGTH OF A STRING
def length(string):
    return len(string)
length("INNOGEEKS")

9

In [67]:
import time
def timetaken(func):
    def wrapper():
        st=time.time()
        func()
        end=time.time()
        print("Time:",end-st)
    return wrapper
@timetaken
def func():
    print("Hello")
func()

Hello
Time: 0.0

In [1]:
def is_even(n):
    if n%2==0:
        return "Even"
    else:
        return "Odd"
n=int(input("Enter the number:"))
is_even(n)

Enter the number:89

'Odd'

In [18]:
#ef maximum(l1):
    a=max(l1)
    return a
l1=[1,2,4,5,78,46]
maximum(l1)

RecursionError: maximum recursion depth exceeded

In [7]:
def square (*,x):
    return x**x
x=2
square(x)

TypeError: square() takes 0 positional arguments but 1 was given

In [9]:
def myfun(*argv):
    for arg in argv:
        print(arg)
myfun("My","name","is","Nancy")

My
name
is
Nancy

In [15]:
def myfun(arg,arg1,*argv):
    print("The first is:",arg)
    print("The second is:",arg1)
    for arg in argv:
        print("The arguments is:",arg)
myfun("My","name","is","Nancy")

The first is: My
The second is: name
The arguments is: is
The arguments is: Nancy

In [ ]:
def maximum(l1):
    a=max(l1)
    return a
l1=[1,2,4,5,78,46]
maximum(l1)

In [22]:
def my_function(**kid):
    print("Her last name is:"+ kid["lname"])
my_function(fname="Nancy",lname="Gupta")

Her last name is:Gupta

In [25]:
while True:
    try:
        x=int(input("Enter:"))
        break
    except ValueError:
        print("error")

Enter:a
error
Enter:12

In [1]:
def maximum(l1):
    a=max(l1)
    return a
l1=[1,2,3,6]
max_val=maximum(l1)
print(max_val)

6